    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form action="/tweets/new" method="post" enctype="multipart/form-data" class="shadow p-4">
                    <div class="form-group">
                        <h1>Nuevo Tweet</h1>
                        <label for="content" class="form-label">Contenido</label>
                        <input 
                            type="text" 
                            class="form-control" 
                            id="content" 
                            name="content" 
                            value="<%= tweet.content %>" 
                        />
                    </div>

                    <div class="mb-3">
                        <label for="image" class="form-label">Seleccionar una imagen</label>
                        <input class="form-control" type="file" id="image" name="image" accept="image/*">
                    </div>

                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a href="/" class="btn btn-danger">Salir</a>
                </form>
            </div>
        </div>
    </div>

